ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: 20px dotted green;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    display: inline-table;
}

li {
    background-color: lightseagreen;
    height: 5mm;
    padding: 3mm;
    list-style: none;
    margin: 2px;
    display: inline;
}